/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/******* Styles begin here *******/

#wrapper {
	width: 100%; 
	margin: 0 auto;  
	padding: 0;
} 

body {
	font-family: 'Open Sans', sans-serif;
	color: #3b3b3b;
	font-size: 150%; /* 1.5em/24px */
	font-weight: 300;
	line-height: 1;
/* 	padding: 0 .5em; */
	margin: 0 auto;
}

p {
	font-size: .85em; 
	line-height: 1.5; 
	padding-top: 24px; 
}

h1 {
	font-size: 3.5em; 
	line-height: 1.1;
	font-family: 'Berkshire Swash', cursive;
	color: #180030;
	padding-top: 5%;
}

h2 {
	font-size: 2.166em;
	font-family: 'Berkshire Swash', cursive;
	color: #180030;
	}
h3 {
	font-size: 1.333em;
	font-weight: 300;
	padding-top: 4%;
	}
h4 {
	padding-top: 5%;
	font-weight: 700;
	}


li {
font-size: 1.66em;
	line-height: 1.5;
	font-weight: 700;
	padding: 1em;
	list-style-type: none;
	display: inline;
}

img {
max-width: 100%;
}

/* Navigation */

#topnav {
	background-color: #FF5B53;
	text-align: center;
/* 	position: fixed; */
	width: 100%;
	padding: 1%;
/* 	z-index: 10000; */
}

.navigation li {
  display: inline;
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;
  padding: 1.3em;
  color: #ffffff;
}

.navigation li a {
  text-decoration: none;
  color: #ffffff;
}

/* Columns */

.column-thin {
width: 40%;
/* background: yellow; */
float: left;
min-width: 400px;
/* vertical-align: middle; */
}

.column-fat {
width: 60%;
/* background: lavender; */
float: left;
/* padding: 5%; */
min-width: 400px;
}

/* Hello */

#hello {
margin: 0 auto;
overflow: auto;
float: left;
background: url('http://i306.photobucket.com/albums/nn258/lwcstyling/clean_textile.png') repeat;
}

#lisaimg {
/* background: tomato; */
padding: 5%;
margin-top: 13%;
text-align: center;
}

#lisaimg img {
border-radius: 100%;
-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);
-moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);
box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);
}

#greeting {
/* background: yellow; */
padding: 10%;
color: #180030;
margin-bottom: 5%;
}

#greeting a {
text-decoration: none;
color: #180030;
}

#greeting h2 {
font-family: 'open sans', sans-serif;
padding-top: 4%;
}

#you {
font-weight: 700;
text-transform: uppercase;
}

/* About */

#about {
margin: 0 auto;
overflow: auto;
float: left;
background: #FF5B53;
}

#about-text {
padding: 10%;
/* text-align: center; */
background: #FFD8CC;
}

#contact-about {
font-weight: 700;
}

#contact-about a {
text-decoration: none;
color: #180030;
text-transform: uppercase;
}

#contact-about a:hover {
color: #FF5B53;
}

#quote-box {
margin-top: 5%;
padding: 15%;
text-align: center;
color: #ffffff;
font-weight: 300;
}

#quote-main1 {
font-size: 1.1em;
font-style: italic;
}

#quote-main2 {
padding-top: 20%;
font-size: 1.1em;
font-style: italic;
}

#quote-by {
font-size: .65em;
}


/* Work */

#work {
padding: 5%;
clear: both;
background: url('http://i306.photobucket.com/albums/nn258/lwcstyling/clean_textile.png') repeat;
  overflow: auto;
/*   padding-bottom: 20px; */
/*   margin-bottom: 20px; */
/*   width: 100%; */
}

#work-info {
text-align: center;
}

.site-links {
/* max-width: 100%; */
margin-top: 3%;
margin-left: 10%;
text-align: center;
}

.site-links img {
border-radius: 100%;
border: 1px solid #180030;
-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);
-moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);
box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);
}

.site-links a img {
opacity: 0.6; 
filter: alpha(opacity=60);
}

.site-links a img:hover {
opacity: 1;
filter: alpha(opacity=100);
}

.flex {
float: left;
margin: 3%;
width: 270px;
display: inline-block;
text-align: center;
}

#cambrian-link {
text-align: center;
}
#hmm-link {
text-align: center;
}
#orig-link {
text-align: center;
}

#caption-one, #caption-two, #caption-three {
  visibility: hidden;
  text-align: center;
}

#caption-one span {
font-style: italic;
}

/* Contact */

#contact {
text-align: center;
margin: 0 auto;
overflow: auto;
/* float: left; */
background: #180030;
}

#contact-text {
padding: 5%;
background: #FFD8CC;
text-align: center;
}

#contact-text h4 {
font-weight: 300;
}

#contact-text h3 {
font-weight: 700;
text-transform: uppercase;
}

#contact-text a {
text-decoration: none;
color: #180030;
}

#contact-text a:hover {
color: #FF5B53;
}

/* 
#contact-links {
color: #ffffff;
text-align: center;
padding-top: 16%;
}

#contact-links ul li a{
text-decoration: none;
color: #ffffff;
}

#contact-links a:hover {
color: #FFD8CC;
}
 */

#fun-facts {
/* color: #ffffff; */
text-align: center;
padding: 7%;
}

#fun-facts h2 {
color: #FFD8CC;
padding-bottom: 2%;
}

#fun-facts p {
color: #ffffff;
font-size: .60em; 
line-height: 1.5; 
padding-top: 3%; 
font-weight: 300;
text-align: center;
}

/* Footer */

#footer-bar {
clear: both;
background: #FF5B53;
}

#footer-bar p {
font-size: .5em;
text-align: center;
padding: 10px 0px 10px 0px;
}

/*******************************************************
Media Queries               
/********************************************************/

/*** Need to fix this ***/
/* 
@media screen and (min-width: 400px) {
	header, article {max-width: 37em; margin: 0 auto;}
  
}
 */
